.add-skill-details{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;

    .header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
        
        .title{
            color: black;
        }
    }
}