.dashboard-header{
    width: 100%;
    // padding: 19.5px auto;
    padding-block: 19px;
    background: white;
    box-shadow: 0px 10px 30px 0px rgba(82, 63, 105, 0.08);
    background-color: #ffffff;
    border-top: 1px solid #EBEDF3;
    h2 {
        color: black;
        margin-left: 10px;
        font-size: 18px;
    }
}
.cards-container{
width:calc(100% - 0px) ;
padding: 20px;
display: grid;
align-items: center;
grid-template-columns: repeat(4,1fr);
justify-content: space-between;
gap: 20px;
    .cards{
        width: 100%;
    min-width: 25%;
    height: 110px;
    padding: 20px;
display: flex;
background: white;
box-shadow: 0 0.5rem 1.5rem 0.5rem rgba(0, 0, 0, 0.075);
border-radius: 5px;
border-left: 1px solid #1BC5BD;
&:nth-child(1){
    border-left: 1px solid #3699FF;

}

.content{
    width: 70%;
    h2{
        color:#1BC5BD;
        font-size: 18px;
        font-weight: 500;
    }
    span{
        color:black;
    }

}
.logo{
    width: 30%;
    align-items: center;
    display: flex;
    span{
        svg{
            color:gray;
            font-size: 38px;
        }
    }
}
}
}
